In [1]:
import os

In [2]:
import pandas as pd

In [3]:
print(os.getcwd())

c:\Users\Rafimbi\Documents\RYDAMTAANI

In [7]:
os.chdir("C:\\Users\\Rafimbi\\Documents\\Python Projects")

In [8]:
os.getcwd()

'C:\\Users\\Rafimbi\\Documents\\Python Projects'

In [9]:
business_data=pd.read_csv("Cashcropdata.csv")

In [10]:
business_data.head()

,gender,value_chain,county,applied_for_agric_loan,hhsize,hh_income,total_land,fcs
0,Male,Crop production,Embu,No,7,8000,1.00,65.5
1,Male,Milk and Livestock production,Kiambu,No,2,60000,2.00,81.0
2,Male,Crop production,Busia,No,7,10000,1.00,50.5
3,Female,Milk and Livestock production,Kiambu,Yes,2,20000,2.00,83.5
4,Male,Crop production,Embu,No,2,10000,0.25,36.0

In [11]:
business_data.head(7)

,gender,value_chain,county,applied_for_agric_loan,hhsize,hh_income,total_land,fcs
0,Male,Crop production,Embu,No,7,8000,1.00,65.5
1,Male,Milk and Livestock production,Kiambu,No,2,60000,2.00,81.0
2,Male,Crop production,Busia,No,7,10000,1.00,50.5
3,Female,Milk and Livestock production,Kiambu,Yes,2,20000,2.00,83.5
4,Male,Crop production,Embu,No,2,10000,0.25,36.0
5,Female,Crop production,Machakos,No,5,45000,10.00,81.0
6,Female,Crop production,Embu,No,3,10000,2.00,59.5

In [12]:
business_data.tail(3)

,gender,value_chain,county,applied_for_agric_loan,hhsize,hh_income,total_land,fcs
432,Male,Fish production,Siaya,No,12,25000,3.0,72.0
433,Male,Crop production,Makueni,No,6,7000,2.0,58.0
434,Male,Milk and Livestock production,Kiambu,No,4,25000,1.5,88.5

In [13]:
business_data.shape

(435, 8)

In [15]:
business_data.describe()

           hhsize      hh_income  total_land         fcs
count  435.000000     435.000000  435.000000  435.000000
mean     5.124138   15752.758621    2.541103   56.797701
std      2.389154   13071.275865    3.180570   16.535167
min      1.000000    1000.000000    0.025000   20.000000
25%      3.500000    5800.000000    1.000000   44.500000
50%      5.000000   12000.000000    2.000000   56.500000
75%      7.000000   20000.000000    3.000000   67.000000
max     14.000000  110000.000000   38.000000  103.000000

In [18]:
business_data.to_csv("processed_sales.csv, index=False")

In [19]:
print("processed_sales.csv")

processed_sales.csv

In [21]:
#check if file exists
os.path.exists("processed_sales.csv")

True

In [24]:
#To check if file is in the working folder
os.getcwd()

'C:\\Users\\Rafimbi\\Documents\\Python Projects'