In [1]:
import os
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
os.getcwd()

'c:\\Users\\Rafimbi\\Documents\\RYDAMTAANI'

In [6]:
os.chdir("C:\\Users\\Rafimbi\\Documents\\Python Projects")

In [7]:
trainingset = pd.read_excel("Cashcropsdata.xlsx")

In [20]:
# 80% training data
train_data = trainingset.sample(frac=0.8, random_state=42)

In [21]:
# Remaining 20% as testing data
test_data = trainingset.drop(train_data.index)

In [22]:
print("Training set rows:", train_data.shape[0])

Training set rows: 348

In [23]:
print("Testing set rows:", test_data.shape[0])

Testing set rows: 87

In [24]:
#Fit the model on training data
model = smf.ols('fcs ~ C(gender) + value_chain + C(applied_for_agric_loan) + hhsize + hh_income + total_land', data=train_data).fit()

In [25]:
#View model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    fcs   R-squared:                       0.136
Model:                            OLS   Adj. R-squared:                  0.119
Method:                 Least Squares   F-statistic:                     7.674
Date:                Sun, 10 Aug 2025   Prob (F-statistic):           1.30e-08
Time:                        23:26:02   Log-Likelihood:                -1434.5
No. Observations:                 348   AIC:                             2885.
Df Residuals:                     340   BIC:                             2916.
Df Model:                           7
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Intercept                                       47.3574      2.642     17.923      0.000      42.160      52.555
C(gender)[T.Male]                                4.7195      2.034      2.320      0.021       0.718       8.721
value_chain[T.Fish production]                   4.2504      2.762      1.539      0.125      -1.181       9.682
value_chain[T.Milk and Livestock production]     9.6927      3.033      3.196      0.002       3.727      15.658
C(applied_for_agric_loan)[T.Yes]                 0.9506      1.904      0.499      0.618      -2.795       4.697
hhsize                                          -0.3851      0.363     -1.062      0.289      -1.098       0.328
hh_income                                        0.0002   6.92e-05      2.749      0.006    5.42e-05       0.000
total_land                                       0.8547      0.261      3.281      0.001       0.342       1.367
==============================================================================
Omnibus:                        5.104   Durbin-Watson:                   1.857
Prob(Omnibus):                  0.078   Jarque-Bera (JB):                5.181
Skew:                           0.296   Prob(JB):                       0.0750
Kurtosis:                       2.911   Cond. No.                     8.31e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
trainingset.head()

,gender,value_chain,county,applied_for_agric_loan,hhsize,hh_income,total_land,fcs
0,Male,Crop production,Embu,No,7,8000,1.00,65.5
1,Male,Milk and Livestock production,Kiambu,No,2,60000,2.00,81.0
2,Male,Crop production,Busia,No,7,10000,1.00,50.5
3,Female,Milk and Livestock production,Kiambu,Yes,2,20000,2.00,83.5
4,Male,Crop production,Embu,No,2,10000,0.25,36.0

In [30]:
print("training set rows:", train_data.shape[0])

training set rows: 348

In [33]:
train_data.index.to_list()  # This line is just to ensure the index is printed, if needed.
len(train_data.index)  # This line is just to ensure the length of the training data is printed, if needed.

348

In [34]:
print(348/435)

0.8

In [35]:
#calculate MSE 
from sklearn.metrics import mean_squared_error

In [36]:
mse= mean_squared_error(test_data['fcs'], model.predict(test_data))

In [37]:
#calculate Root mean squared error RMSE
rmse = mse ** 0.5

In [38]:
#calculate R-Squared
r_squared = model.rsquared

In [39]:
print(rmse)

17.471924230978914

In [40]:
print(mse)

305.2681363330681

In [42]:
print(r_squared)

0.1364407588221087